<%= form_for message, html: { class: "form" } do |f| %>

  <% if @conversation.new_record? %>
    <div class="form-group">
      <%= f.label :subject, "Subject" %>
      <%= f.text_field :subject, autocapitalize: "words", class: "form-control", required: true %>
    </div>
  <% else %>
    <%= f.hidden_field :conversation_id %>
  <% end %>

  <%= f.hidden_field :recipient_id %>

  <div class="form-group">
    <%= f.label :body, "Body", class: "sr-only" %>
    <%= f.text_area :body,
                    autocapitalize: "sentences",
                    class:          "form-control",
                    required:       true,
                    placeholder:    "Say something nice and more than &lsquo;hey...&rsquo;".html_safe %>
  </div>

  <%= f.submit "Send", disable_with: 'Sending...', class: "btn btn-success btn-block btn-lg" %>

<% end %>
