<% user = conversation.counterpart(current_user) %>

<li class="row person conversation h-entry <%= 'unread' if conversation.unread?(current_user) %>">

  <div class="media col-xs-12">
    <%= link_to conversation_path(user.username), class: "pull-left" do %>
      <%= image_tag user.avatar(:tiny).to_s, class: "u-photo img media-object", alt: current_user.username %>
    <% end %>

    <div class="media-body">
      <h4 class="media-heading p-author"><%= user.username %></h4>

      <p>
        <%= link_to conversation_path(user.username) do %>
          <span class="p-name"></span>
          <span class="e-content"><%= conversation.messages.last.body %></span>
        <% end %>
      </p>
    </div>
  </div>

</li> <!-- .person -->
