<% if @conversations.blank? %>
  <p class="alert alert-info">You don&rsquo;t have any conversations started. <b>Go message someone!</b></p>
<% else %>
  <ol class="conversations">
    <% @conversations.each do |conversation| %>
      <li class="media conversation <%= 'unread' if conversation.unread?(current_user) %>">
        <%= link_to conversation, class: "img" do %>
          <%= image_tag (conversation.counterpart(current_user).avatar(:tiny).to_s) %>
        <% end %>

        <%= link_to conversation, class: "bd" do %>
          <span class="message-counterpart">Conversation with <b><%= conversation.counterpart(current_user).username %></b></span>
          <span class="message-subject"><%= conversation.subject %></span>
          <span class="message-body"><%= truncate conversation.messages.last.body, length: 40 %></span>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>