<div class="row">
  <% if @conversations.blank? %>

    <p class="alert alert-info">You don&rsquo;t have any conversations started. <b>Go message someone!</b></p>

  <% else %>

    <ol class="conversations">
      <% @conversations.each do |conversation| %>
        <li class="row person conversation h-card vcard <%= 'unread' if conversation.unread?(current_user) %>">

          <div class="media col-xs-12">
            <%= link_to conversation, class: "pull-left" do %>
              <%= image_tag conversation.counterpart(current_user).avatar(:tiny).to_s, class: "u-photo img media-object" %>
            <% end %>

            <div class="media-body">
              <h4 class="media-heading p-author"><%= conversation.counterpart(current_user).username %></h4>

              <p>
                <%= link_to conversation do %>
                  <span class="p-name"><%= conversation.subject %></span>
                  <span class="e-content"><%= truncate conversation.messages.last.body, length: 100 %></span>
                <% end %>
              </p>
            </div>
          </div>

        </li> <!-- .person -->
      <% end %>
    </ol>

  <% end %>
</div>
