<% if @conversations.blank? %>
  You don&rsquo;t have any conversations started, go message someone.
<% else %>
  <ol class="conversations">
    <% @conversations.each do |conversation| %>
      <li class="media conversation <%= 'unread' if conversation.unread?(current_user) %>">
        <%= link_to conversation, :class => "img" do %>
          <%= image_tag conversation.counterpart(current_user).avatar(:tiny) %>
        <% end %>

        <%= link_to conversation, :class => "bd" do %>
          <span class="message-counterpart">from <b><%= conversation.counterpart(current_user).username %></b></span>
          <span class="message-subject"><%= conversation.subject %></span>
          <span class="message-body"><%= truncate conversation.messages.first.body, :length => 40 %></span>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>