<div id="conversation" class="h-feed">
  <h1 class="subject"><%= @conversation.subject %></h1>

  <ol class="messages">
    <% @conversation.messages.each do |message| %>
      <li class="message <%= "from-me" if message.sender == current_user %>">
        <%= render message.sender %>

        <div class="message-body">
          <%= simple_format message.body %>
        </div>
      </li>
    <% end %>
  </ol>

  <div id="reply">
    <h1>Reply</h1>
    <%= render '/messages/form', message: @message %>
  </div>
</div>
