<% if mine? %>
  <%= link_to new_photo_path, class: "btn btn-success" do %>
    <i class='fa fa-picture-o'></i>&nbsp;&nbsp;Add Photo
  <% end %>

  <%= link_to settings_path,  class: "btn btn-default" do %>
    <i class='fa fa-pencil'></i><span class="hidden-xs">&nbsp;&nbsp;Edit Profile</span>
  <% end %>

<% elsif not_mine? %>
  <div class="actions">

    <span class="btn-group">
      <%# MESSAGE BUTTON %>
      <%= link_to "<i class='fa fa-comment'></i>".html_safe, new_message_path(recipient: user.username), class: "btn btn-info" %>


      <%# BOOKMARK BUTTON %>
      <% if im.bookmarking?(user) %>

        <%# bookmarked %>
        <div class="btn-group">
          <%= form_for current_user.bookmark_with(user), html: { method: :delete, id: "unbookmark", class: "form-inline" } do |f| %>
            <%= f.button "<i class='fa fa-ban'></i>".html_safe, class: "btn btn-warning" %>
          <% end %>
        </div>

      <% else %>
        <%= form_for Bookmark.new, html: { id: "new_secret_crush", class: "form-inline" } do |f| %>
          <%= f.hidden_field :bookmarkee_id, value: user.id %>
          <%= f.button "<i class='fa fa-star'></i>".html_safe, class: "btn btn-warning" %>
        <% end %>
      <% end %>
    </span>

    <%# CRUSH BUTTON %>
    <% if im.crushing_on?(user) %>
    <%= link_to "<i class='fa fa-ban'></i> Uncrush".html_safe, uncrush_path(user.username), class: "btn btn-danger", method: :delete %>
    <% else %>
      <%= link_to "<i class='fa fa-heart'></i> Crush".html_safe, crush_path(user.username), class: "btn btn-danger", method: :post %>
    <% end %>

  </div><!-- .actions -->
<% end %>
