<% if mine? %>
  <%= link_to "<i class='fa fa-picture-o'></i> Add a Photo".html_safe, new_photo_path, class: "btn btn-success" %>

<% elsif not_mine? %>
  <div class="actions">

    <span class="btn-group">
      <%# MESSAGE BUTTON %>
      <%= link_to "<i class='fa fa-comment'></i>".html_safe, new_message_path(recipient: user.username), class: "message btn btn-info" %>


      <%# BOOKMARK BUTTON %>
      <% if im.secret_crushing_on?(user) %>

        <%# bookmarked %>
        <div class="btn-group">
          <%= form_for current_user.crush_with(user), html: { method: :delete, id: "unbookmark", class: "form-inline" } do |f| %>
            <%= f.button "<i class='fa fa-ban'></i>".html_safe, class: "btn btn-warning" %>
          <% end %>
        </div>

      <% else %>
        <%= form_for Crush.new, html: { id: "new_secret_crush", class: "form-inline" } do |f| %>
          <%= f.hidden_field :crushee_id, value: user.id %>
          <%= f.hidden_field :secret,     value: true %>
          <%= f.button "<i class='fa fa-star'></i>".html_safe, class: "btn btn-warning" %>
        <% end %>
      <% end %>
    </span>

    <%# CRUSH BUTTON %>
    <% if im.crushing_on?(user) %>
      <%= form_for current_user.crush_with(user), html: { method: :delete, id: "uncrush", class: "form-inline" } do |f| %>
        <%= f.button "<i class='fa fa-ban'></i> Uncrush".html_safe, class: "btn btn-danger" %>
      <% end %>
    <% else %>
      <%= form_for Crush.new, html: { class: "form-inline" } do |f| %>
        <%= f.hidden_field :crushee_id, value: user.id %>
        <%= f.button "<i class='fa fa-heart'></i> Crush".html_safe, class: "btn btn-danger" %>
      <% end %>
    <% end %>

  </div><!-- .actions -->
<% end %>
