<div class="person">
  <%= link_to image_tag(user.avatar, :class => "photo"), person_path(user.username) %>

  <h1>
    <b class="fn n">
      <%= link_to user.username, person_path(user.username) %>
    </b>

    <span>
      <% if user.age %>
        (<%= user.age %>)
      <% end %>
    </span>
  </h1>

  <h2>
    <%= link_to google_map_url(user) do %>
      <% unless user.city.blank? %>
        <span class="locality"><%= user.city %></span>,
      <% end %>
      <% unless user.state.blank? %>
        <span class="region"><%= user.state %></span>,
      <% end %>
      <span class="country"><%= user.country %></span>
    <% end %>
  </h2>
</div> <!-- /div.user -->
