<div class="row person media h-card vcard">

  <div class="media col-xs-12">
    <%= link_to_avatar(user, @avatar_size) %>

    <div class="media-body">
      <h4 class="media-heading">
        <span class="p-name fn n"><%= link_to user.username, person_path(user.username) %></span>&nbsp;<% if user.age %><small class="p-x-age"><%= user.age %></small><% end %>
      </h4>

      <p>
        <%= link_to google_map_url(user) do %>
          <% unless user.city.blank? %>
            <span class="p-locality locality"><%= user.city %></span>,
          <% end %>
          <% unless user.state.blank? %>
            <span class="p-region region"><%= user.state %></span>,
          <% end %>
          <span class="p-country country"><%= user.country.name %></span>
        <% end %>
      </p>

      <%= render partial: "/users/profile_actions", locals: { user: user } %>
    </div>
  </div>

</div> <!-- .person -->
