<div class="person media h-card vcard">
  <%= link_to_avatar(user, @avatar_size) %>

  <h1>
    <b class="p-name fn n">
      <%= link_to user.username, person_path(user.username) %>
    </b>

    <span>
      <% if user.age %>
        (<span class="p-x-age"><%= user.age %></span>)
      <% end %>
    </span>
  </h1>

  <h2>
    <%= link_to google_map_url(user) do %>
      <% unless user.city.blank? %>
        <span class="p-locality locality"><%= user.city %></span>,
      <% end %>
      <% unless user.state.blank? %>
        <span class="p-region region"><%= user.state %></span>,
      <% end %>
      <span class="p-country country"><%= user.country.name %></span>
    <% end %>
  </h2>
</div> <!-- .person -->
