<style>
  /* temp */
  label { display: block; font-weight: bold; }
</style>

<div>
  <%= flash[:error] %>
  <%= flash[:notice] %>
</div>

<p>
  <% unless @user.twitter? && @user.facebook? %>
    <% if @user.twitter? %>
      <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    <% elsif @user.facebook? %>
      <%= link_to "Sign in with Twitter",  "/auth/twitter"  %>
    <% end %>
  <% end %>
</p>

<%= @user.errors.full_messages.to_sentence %>

<%= form_for @user do |f| %>
  <%= f.label      :name %>
  <%= f.text_field :name %>

  <% if @user.username.blank? %>
    <%= f.label      :username %>
    <%= f.text_field :username %>
  <% end %>

  <%= f.label      :email %>
  <%= f.text_field :email %>

  <%= f.label       :birthday %>
  <%= f.date_select :birthday,
                    :order      => [:month, :day, :year],
                    :start_year => 60.years.ago.year,
                    :end_year   => 12.years.ago.year,
                    :default    => 12.years.ago %>

  <%= f.label      :city %>
  <%= f.text_field :city %>

  <%= f.label  :state %>
  <%= f.select :state_id, State.options_for_select, :include_blank => true %>

  <%= f.label      :zipcode %>
  <%= f.text_field :zipcode %>

  <%= f.label  :country %>
  <%= f.select :country_id, Country.options_for_select, :include_blank => true %>

  <%= f.label     :bio %>
  <%= f.text_area :bio %>

  <%= f.label  :diet %>
  <%= f.select :diet_id, Diet.options_for_select, :include_blank => true %>

  <%= f.label      :me_gender, "My Gender" %>
  <%= f.text_field :me_gender %>

  <%= f.label      :you_gender, "Desired Gender" %>
  <%= f.text_field :you_gender %>

  <%= f.label :label_id, "My Label" %>

  <table>
    <% Label.all.each do |label| %>
      <tr>
        <th><%= f.radio_button :label_id, label.id, :checked => @user.label      == label %></th>
        <td><%= f.label        "label_id_#{label.id}", label.name %></td>
      </tr>
    <% end %>
  </table>

  <%= f.label      :your_labels_attributes, "Desired Labels" %>
  <table>
    <% Label.all.each_with_index do |label, index| %>
      <%= f.fields_for "your_labels_attributes[#{index}]", :child_index => index do |ff| %>
        <tr>
          <% if @user.desired_labels.include? label %>
            <%# HACK remove find from view, do it in the controller %>
            <%= ff.hidden_field :id, :value => @user.your_labels.where(:label_id => label.id).first.id, :style => "display:none" %>
            <td><%= ff.check_box :_destroy, {:checked => true}, 0, 1 %></td>
            <th><%= ff.label     :_destroy, label.name %></th>
          <% else %>
            <td><%= ff.check_box :label_id, {}, label.id %></td>
            <th><%= ff.label     :label_id, label.name %></th>
          <% end %>
        </th>
      <% end %>
    <% end %>
  </table>

  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end %>
