<h1>Before we start we just need 3 things from you.</h1>

<div>
  <%= flash[:error] %>
  <%= flash[:notice] %>
</div>

<%= @user.errors.full_messages.to_sentence %>

<%= form_for @user, :url => user_create_path, :method => :post do |f| %>
  <%= f.label      :username %>
  <%= f.text_field :username %>

  <%= f.label      :email %>
  <%= f.text_field :email %>

  <%= f.label      :birthday %>
  <%= birthday_select_tag(f) %>

  <%= f.submit "Submit", :disable_with => "Submitting...", :class => "button white full" %>
<% end %>
