<%= link_to "Send Message", new_message_path(:recipient => @user.username) %>

<% if current_user %>
  <% if current_user.crushing_on?(@user) %>
    Crushed!
  <% elsif current_user.isnt(@user) %>
    <%= form_for @crush, :url => crush_url do |f| %>

      <%= f.hidden_field :crushee_id, :value => @user.id %>

      <%= f.check_box :secret %>
      <%= f.label :secret, "Secret" %>

      <%= f.submit "Crush" %>
    <% end %>
  <% end %>
<% end %>

<h1>
  <%= @user.name %>

  <% if @user.username %>
    <%= @user.username %>
  <% end %>

  <% if @user.age %>
    (<%= @user.age %>)
  <% end %>
</h1>

<h2>
  <% unless @user.city.blank? %>
    <span class="locality"><%= @user.city %></span>,
  <% end %>
  <% unless @user.state.blank? %>
    <span class="region"><%= @user.state %></span>,
  <% end %>
  <span class="country"><%= @user.country %></span>
</h2>

<%= image_tag @user.avatar %>

<h3>
  I am a <b><%= @user.me_gender %></b>
  looking for a <b><%= @user.you_gender %></b>
</h3>

<h4>I am <%= @user.label.name if @user.label%></h4>


<h4>Desired Labels</h4>
<ul>
  <% @user.desired_labels.each do |label| %>
    <li><%= label.name %></li>
  <% end %>
</ul>

<section>
  <%= simple_format @user.bio %>
  <p><%= @user.diet %></p>
</section>

<section>
  <%= @user.zipcode %>
  <% if current_user.is(@user) %>
    <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
  <% end %>

  <% if @user.birthday %>
    <time><%= @user.birthday.strftime("%B %d, %Y") %></time>
  <% end %>
</section>

<% if current_user && current_user == @user %>
  <section>
    <h3>Crushers</h3>
    <% @user.crushers.each do |crusher| %>
      <%= link_to crusher.username, person_path(crusher.username) %>
    <% end %>
  </section>
<% end %>

<section>
  <ul>
    <% @user.photos.each do |photo| %>
      <li>
        <%= image_tag photo.image_url(:large).to_s %>
        <p><%= photo.caption %></p>

        <ul>
          <li><%= link_to "Edit Photo or Caption", edit_photo_path(photo) %></li>
          <li><%= link_to "Use as Avatar", photo_path(photo, :photo => {:avatar => true}), :method => :put %></li>
          <li><%= link_to "Delete Photo", photo, :method => :delete, :confirm => "Are you SURE? Like for sure, for sure? There is NO UNDO!" %></li>
        </ul>
      </li>
    <% end %>
  </ul>
  <%= link_to "New Photo", new_photo_path %>
</section>
