<%= render partial: @user %>

<p class="well lead">
  I am

  <%= @user.diet ? @user.diet.name.indefinite_article : "a" %>

  <% if @user.diet %>
    <b><%= link_to @user.diet.name.downcase, diet_path(@user.diet.name) %></b>
  <% end %>

  <% if @user.label %>
    <b><%= link_to @user.label.name.downcase, label_path(@user.label.name) %></b>
  <% end %>

  <b><%= @user.me_gender %></b>.

  <br class="xs-hidden" />

  I&rsquo;m looking for

  <% if @user.desired_diets.blank? %>
    a
  <% else %>
    <%= @user.desired_diets.map(&:name).join.indefinite_article %>
    <%=
      # TODO refactor into a helper method
      @user.desired_diets.map{ |dd|
        "<b>#{ link_to dd.name.downcase, diet_path(dd.name) }</b>"
      }.join("<span style='color:#999'>/</span>").html_safe
    %>
  <% end %>

  <% unless @user.desired_labels.blank? %>
    <%= @user.desired_labels.map{ |dl| "<b>#{dl.name}</b>" }.join("<span style='color:#999'>/</span>").html_safe %>
    <%=
      # TODO refactor into a helper method
      @user.desired_labels.map{ |dd|
        "<b>#{ link_to dd.name.downcase, label_path(dd.name) }</b>"
      }.join("<span style='color:#999'>/</span>").html_safe
    %>
  <% end %>

  <b><%= @user.you_gender %></b>.
</p>

<div class="row">

  <main class="col-md-7 col-sm-12">
    <% if @user.bio %>
      <div id="bio" class="e-note note">
        <%= user_inputed_text(@user.bio) %>
      </div>
    <% end %>

    <div id="photos">
      <ul class="h-feed">
        <% @user.photos.each do |photo| %>
          <li class="h-entry">
            <%= image_tag photo.image_url(:large).to_s %>
            <div class="caption lead">
              <%= simple_format photo.caption %>
            </div>

            <% if mine? %>
              <div class="actions">
                <%= link_to "<i class='fa fa-edit'></i>&nbsp;&nbsp;Edit Details".html_safe, edit_photo_path(photo), class: "btn btn-default" %>

                <%= form_for photo, html: { class: "form-inline", role: "form" } do |f| %>
                  <%= f.hidden_field :avatar, value: true %>
                  <%= f.button "<i class='fa fa-circle-o'></i>&nbsp;&nbsp;Use as Avatar".html_safe, class: "btn btn-default" %>
                <% end %>
              </div> <!-- .actions -->
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> <!-- #photos -->
  </main>

  <%= render "sidebar" %>

</div> <!-- .row -->
