<%= render partial: "profile_actions" %>

<%= render partial: @user %>

<h3>
  <% if @user.me_gender || @user.you_gender %>
    I am a
    <% if @user.label %>
      <b><%= @user.label.name %></b>
    <% end %>

    <% if @user.me_gender %>
      <b><%= @user.me_gender %></b>.
    <% end %>

    <% if @user.diet %>
      I eat a <b><%= @user.diet.name.downcase %></b> diet.
    <% end %>

    <% if @user.you_gender %>
      I&rsquo;m looking for a
      <% unless @user.desired_labels.blank? %>
        <%= @user.desired_labels.map{ |dl| "<b>#{dl.name}</b>" }.join(" / ").html_safe %>
      <% end %>

      <b><%= @user.you_gender %></b>.
    <% end %>
  <% end %>
</h3>

<% if @user.bio %>
  <div id="bio" class="note">
    <div class="short" style="display:none">
      <%= simple_format "<b>BIO</b>: ".html_safe + truncate(@user.bio, length: 150) %>
      <% if @user.bio.length > 150 %>
        <%= link_to "More", person_path(@user.username, anchor: "bio"), class: "truncate" %>
      <% end %>
    </div> <!-- /div.short -->

    <div class="long">
      <%= simple_format "<b>BIO</b>: " + @user.bio %>
      <%= link_to "Less", person_path(@user.username, anchor: "bio"), class: "truncate", style: "display:none" %>
    </div> <!-- /div.long -->
  </div>
<% end %>

<div id="photos">
  <% if mine? %>
    <%= link_to "Upload a New Photo", new_photo_path, class: "btn btn-success btn-block btn-lg" %>
  <% end %>

  <ul>
    <% @user.photos.each do |photo| %>
      <li>
        <%= image_tag photo.image_url(:large).to_s %>
        <p class="caption"><%= simple_format photo.caption %></p>

        <% if mine? %>
          <div class="actions">
            <ul>
              <li><%= link_to "Edit Photo or Caption", edit_photo_path(photo), class: "btn btn-default" %></li>
              <li>
                <%= form_for photo do |f| %>
                  <%= f.hidden_field :avatar, value: true %>
                  <%= f.submit "Use as Avatar", class: "btn btn-default" %>
                <% end %>
              </li>
            </ul>
          </div> <!-- .actions -->
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
