<%= render partial: @user %>

<p class="well lead">
  <% if @user.me_gender || @user.you_gender %>
    I am a
    <% if @user.label %>
      <b><%= @user.label.name %></b>
    <% end %>

    <% if @user.me_gender %>
      <b><%= @user.me_gender %></b>.
    <% end %>

    <% if @user.diet %>
      I eat a <b><%= @user.diet.name.downcase %></b> diet.
    <% end %>

    <% if @user.you_gender %>
      I&rsquo;m looking for a
      <% unless @user.desired_labels.blank? %>
        <%= @user.desired_labels.map{ |dl| "<b>#{dl.name}</b>" }.join(" / ").html_safe %>
      <% end %>

      <b><%= @user.you_gender %></b><%= "." if @user.desired_diets.blank? %>
    <% end %>

    <% unless @user.desired_diets.blank? %>
      who eats a
      <%= @user.desired_diets.map{ |dd| "<b>#{dd.name}</b>" }.join(" / ").html_safe %>
      diet.
    <% end %>
  <% end %>
</p>

<% if @user.bio %>
  <div id="bio" class="note">
    <div class="short" style="display:none">
      <%= simple_format "<b>BIO</b>: ".html_safe + truncate(@user.bio, length: 150) %>
      <% if @user.bio.length > 150 %>
        <%= link_to "More", person_path(@user.username, anchor: "bio"), class: "truncate" %>
      <% end %>
    </div> <!-- /div.short -->

    <div class="long">
      <%= simple_format "<b>BIO</b>: " + @user.bio %>
      <%= link_to "Less", person_path(@user.username, anchor: "bio"), class: "truncate", style: "display:none" %>
    </div> <!-- /div.long -->
  </div>
<% end %>

<div id="photos">
  <ul class="h-feed">
    <% @user.photos.each do |photo| %>
      <li class="h-entry">
        <%= image_tag photo.image_url(:large).to_s %>
        <div class="caption lead">
          <%= simple_format photo.caption %>
        </div>

        <% if mine? %>
          <div class="actions">
            <%= link_to "<i class='fa fa-edit'></i>&nbsp;&nbsp;Edit Details".html_safe, edit_photo_path(photo), class: "btn btn-default" %>

            <%= form_for photo, html: { class: "form-inline", role: "form" } do |f| %>
              <%= f.hidden_field :avatar, value: true %>
              <%= f.button "<i class='fa fa-circle-o'></i>&nbsp;&nbsp;Use as Avatar".html_safe, class: "btn btn-default" %>
            <% end %>
          </div> <!-- .actions -->
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
