<% if not_mine? %>
  <%= link_to "Send Message", new_message_path(:recipient => @user.username) %>
<% end %>

<% if not_mine? %>
  <% if im.crushing_on?(@user) %>
    Crushed!
  <% else %>
    <%= form_for @crush, :url => crush_url do |f| %>
      <%= f.hidden_field :crushee_id, :value => @user.id %>

      <%= f.check_box :secret %>
      <%= f.label :secret, "Secret" %>

      <%= f.submit "Crush" %>
    <% end %>
  <% end %>
<% end %>

<%= render :partial => @user %>

<h3>
  <% if @user.me_gender || @user.you_gender %>
    I am a
    <% if @user.label %>
      <b><%= @user.label.name %></b>
    <% end %>

    <% if @user.me_gender %>
      <b><%= @user.me_gender %></b>.
    <% end %>
    
    <% if @user.diet %>
      I eat a <b><%= @user.diet.name.downcase %></b> diet.
    <% end %>

    <% if @user.you_gender %>
      I'm looking for a
      <% unless @user.desired_labels.blank? %>
        <%= @user.desired_labels.map{ |dl| "<b>#{dl.name}</b>" }.join(" / ").html_safe %>
      <% end %>

      <b><%= @user.you_gender %></b>
    <% end %>
  <% end %>
</h3>

<% if @user.bio %>
  <section id="bio" class="note">
    <div class="short" style="display:none">
      <%= simple_format "<b>BIO</b>: ".html_safe + truncate(@user.bio, :length => 150) %>
      <% if @user.bio.length > 150 %>
        <%= link_to "More", person_path(@user.username, :anchor => "bio"), :class => "truncate" %>
      <% end %>
    </div> <!-- /div.short -->

    <div class="long">
      <%= simple_format "<b>BIO</b>: " + @user.bio %>
      <%= link_to "Less", person_path(@user.username, :anchor => "bio"), :class => "truncate", :style => "display:none" %>
    </div> <!-- /div.long -->
  </section>
<% end %>

<!--
<% if mine? && @user.crushers.any? %>
  <section>
    <h3>Crushers</h3>
    <% @user.crushers.each do |crusher| %>
      <%= link_to crusher.username, person_path(crusher.username) %>
    <% end %>
  </section>
<% end %>
-->

<section id="photos">
  <ul>
    <% @user.photos.each do |photo| %>
      <li>
        <%= image_tag photo.image_url(:large).to_s %>
        <p><%= photo.caption %></p>

        <% if mine? %>
          <div class="actions">
            <ul>
              <li><%= link_to "Edit Photo or Caption", edit_photo_path(photo) %></li>
              <li><%= link_to "Use as Avatar", photo_path(photo, :photo => {:avatar => true}), :method => :put %></li>
            </ul>
          </div> <!-- /div.actions -->
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if mine? %>
    <%= link_to "New Photo", new_photo_path, :class => "button new-photo-link" %>
  <% end %>
</section>
