<header role="banner">

  <div class="container">
    <h1><%= link_to_unless_current "Date Edge", root_path, rel: "home" %></h1>

    <nav role="navigation">
      <% if logged_in? %>

        <%= link_to current_user.name, person_path(current_user.username),                class: "profile-link"   %>

        <%= link_to conversations_path, class: "btn btn-sm btn-black" do %>
          <i class='fa fa-lg fa-envelope'></i>
          <% if unread_count %><span class="label label-danger"><%= unread_count %></span><% end %>
        <% end %>

        <%= link_to "<i class='fa fa-lg fa-gear'></i>".html_safe, conversations_path,     class: "btn btn-sm btn-black" %>

      <% else %>

        Sign in with
        <%= link_to "Twitter",  "/auth/twitter" , class: "twitter-sign-in-link"  %>
        <%= link_to "Facebook", "/auth/facebook", class: "facebook-sign-in-link" %>

      <% end %>
    </nav>
  </div>

</header>
