<header role="banner">

  <div class="container">
    <h1><%= link_to_unless_current "Date Edge", root_path, rel: "home" %></h1>

    <nav role="navigation">
      <% if logged_in? %>

        <%= link_to conversations_path do %>
          <i class='fa fa-lg fa-envelope'></i>
          <% if unread_count %><span class="label label-danger"><%= unread_count %></span><% end %>
        <% end %>

        <%= link_to "<i class='fa fa-lg fa-gear'></i>".html_safe, settings_path %>
        <%= link_to "<i class='fa fa-lg fa-user'></i>".html_safe, person_path(current_user.username) %>

      <% else %>

        <%= link_to "<i class='fa fa-lg fa-twitter'></i>".html_safe,  "/auth/twitter",  class: "btn btn-sm btn-info"    %>
        <%= link_to "<i class='fa fa-lg fa-facebook'></i>".html_safe, "/auth/facebook", class: "btn btn-sm btn-primary" %>

      <% end %>
    </nav>
  </div>

</header>
