<%= render :partial => 'sign_in_buttons' %>

<div id="people">
  <h2>Some people using <b>Date Edge</b></h2>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to person_path(user.username) do %>
          <%= image_tag user.avatar, :alt => user.username %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to "See everyone using Date Edge", people_path %>
</div>

<div id="about">
  <p>
    <b>Date Edge</b> is simple, fun dating site for people who are straightedge.
    And for the people that love them. &hellip;or who <i>want to love them</i>.
  </p>

  <p>
    Are you tired of other dating sites that are out of step with your
    needs and desires? So are we.
  </p>

  <p>
    Join <b>Date Edge</b> to find a person just like you.
    Keep it positive. Be friendly. Have fun.
    We hope you find what you&rsquo;re looking for.
  </p>

  <p>
    It&rsquo;s <b>FREE</b> and easy to join. To get started&hellip;
  </p>
</div>

<%= render :partial => 'sign_in_buttons' %>
