<%= render partial: "sign_in_buttons" %>

<div id="some-people">
  <h3 class="h4">Some people on <b>Date Edge</b></h3>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-4 col-sm-3 col-md-2">
        <div class="thumbnail h-card">
          <%= link_to_avatar(user) %>

          <div class="caption">
            <p><%= link_to_username(user) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h4><%= link_to "See everyone on Date Edge", people_path %></h4>
</div>

<div id="about">
  <p>
    <b>Date Edge</b> is a simple, fun dating site for people who are straightedge.
    And for the people that love them. &hellip;or who <i>want to love them</i>.
  </p>

  <p>
    Are you tired of other dating sites that are out of step with your
    needs and desires? So are we.
  </p>

  <p>
    Join <b>Date Edge</b> to find a person just like you.
    Keep it positive. Be friendly. Have fun.
    We hope you find what you&rsquo;re looking for.
  </p>

  <p>
    It&rsquo;s <b>FREE</b> and easy to join using your Facebook or Twitter account.
  </p>
</div>

<%= render partial: "sign_in_buttons" %>
