<div class="page-header">
  <h1>
    <% if @column %>
      <%= link_to @column.capitalize, send("#{@column}_path") %> :
    <% else %>
      Search:
    <% end %>

    <%= @query.capitalize %>
    <small>(<%= @total %>)</small>
  </h1>
</div>

<% @users.in_groups_of(2) do |group| %>
  <div class="row">
    <% group.each do |user| %>
      <% unless user.nil? %>
        <div class="col-sm-6">
          <%= render user %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render "/users/pagination" %>
