<h1>Tell us the story of this photo!</h1>

<div id="preview"><%= image_tag @photo.image_url(:medium).to_s %></div>

<%= form_for @photo do |f| %>
  <%= f.label :caption, "Caption" %>
  <%= f.text_area :caption, :rows => 5 %>

  <% unless @photo.avatar? %>
  <table id="avatar">
    <tr>
    <td><%= f.check_box :avatar %></td>
    <th><%= f.label :avatar, "Want to use this as your avatar?" %></th>
    </tr>
  </table>
  <% end %>

  <%= f.submit "Save Photo", :disable_with => "Saving&hellip;".html_safe %>
<% end %>

<section id="danger-zone">
  <h2>DANGER ZONE</h2>

  <div>
    <p>
      Maybe you think that you&rsquo;re making a stupid face in this picture.
      Or that your face is stupid.
      Or &ldquo;<i>who has hair like anymore? That&rsquo;s so last year.</i>&rdquo;
    </p>

    <p>
      First, you&rsquo;re probably wrong.
      Your face isn&rsquo;t stupid.
      You should probably leave the photo up.
      It adds character and helps tell your story.
      <em>But</em>, if you <i>must</i> delete it, no hard feelings.
      Maybe add another in its place.
    </p>

    <p>
      <b>There is no undo. No regrets.</b>
    </p>

    <%= button_to "I Want to Delete My Photo", @photo, :method => :delete, :confirm => "Are you SURE? Like for sure, for sure? There is NO UNDO." %>
  </div>
</section>
