<h1>Editing a Photo</h1>

<%= form_for @photo do |f| %>

  <%= f.label :caption, "Caption" %>
  <%= f.text_area :caption, :rows => 5 %>

  <%= f.label :avatar, "Avatar?" %>
  <%= f.check_box :avatar %>

  <%= f.submit "Submit", :disable_with => 'Submiting...' %>

<% end %>


<div>
  <h2>DANGER ZONE</h2>
  <%= link_to "Delete Photo", @photo, :method => :delete, :confirm => "Are you SURE? Like for sure, for sure? There is NO UNDO!" %>
</div>
