<h1>Add a photo to your profile</h1>

<%= form_for @photo, :html => { :multipart => true } do |f| %>
  <% if getting_started? %>
    <div id="getting-started">
      
      <% if current_user.photos.any? %>
        <p class="info">
          We got this photo from
          <b><%= current_user.providers.first.name.capitalize %></b>.<br />
          You can add more photos below.
        </p>

        <ul class="actions">
          <li><%= link_to "Add Another", "#url",  :class => "button green full" %></li>
          <li><%= link_to "No Thanks", root_path, :class => "button black full" %></li>
        </ul>
        <%= image_tag current_user.photos.first.image_url(:small).to_s %>
      <% end %>

      <p class="instructions notice" style="display: none;">
        <b>From your phone or tablet, paste in a URL.</b><br />
        Use your desktop to upload a file.
      </p>
    </div>
  <% end %>

  <%= f.label     :remote_image_url, "Paste a URL", :id => "url" %>
  <%= f.url_field :remote_image_url, :autocapitalize => "off", :autocorrect => "off" %>

  <%= f.label      :image, "or Select an Image" %>
  <%= f.file_field :image %>

  <%= f.label     :caption, "Caption" %>
  <%= f.text_area :caption, :autocapitalize => "sentences" %>

  <%= f.submit "Upload", :disable_with => 'Uploading...', :class => "button black full" %>
<% end %>
