<div class="col-sm-12">
  <div class="page-header">
    <h1>
      <%= link_to "Genders", genders_path %> :
      <%= @gender.capitalize %>
      <small>
        (<%= @total %>)
      </small>
    </h1>
  </div>

  <% @users.in_groups_of(2) do |group| %>
    <div class="row">
      <% group.each do |user| %>
        <% unless user.nil? %>
          <div class="col-sm-6">
            <%= render user %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-sm-12" id="pagination">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
