<!DOCTYPE html>

<html dir="ltr" lang="en" id="<%= @slug %>" class="no-js">
<%= render :partial => '/shared/head' %>

<body>
  <% if welcome? %>
    <%= render :partial => '/shared/welcome_header' %>
  <% else %>
    <%= render :partial => '/shared/header' %>
  <% end %>

<div class="error">
  <h1>I'm aware of the problem and working on it now. Sorry.</h1>
</div> <!-- /div.error -->

  <section role="main">
    <% unless logged_in? || controller_name == "welcome" %>
      <%= render :partial => "/shared/social_posting_info" %>
    <% end %>

    <% if profile_incomplete? %>
      <p class="notice">
        <b><%= link_to "Update your profile for great success &rarr;".html_safe, settings_path %></b>
      </p>
    <% end %>

    <%= yield %>
  </section>

  <footer role="contentinfo">
    <% if logged_in? %>
      <%= link_to_unless_current "Sign Out", signout_path, :class => "button white full" %>
    <% end %>
  </footer>

  <%= render :partial => '/shared/print_css' %>

  <%= javascript_include_tag "application" %>

  <%= render :partial => '/shared/google_analytics' %>
</body>
</html>
