<!DOCTYPE html>

<html dir="ltr" lang="en" id="<%= @slug %>" class="no-js">
<%= render partial: "/shared/head" %>

<%= opening_body_tag %>
  <% if welcome? %>
    <%= render partial: "/shared/welcome_header" %>
  <% else %>
    <%= render partial: "/shared/header" %>
  <% end %>

  <section role="main" class="container">
    <div class="alert alert-danger" id="goodbye">
      <h1>Bad News!</h1>
      <h2>Date Edge will shut down on May 1, 2018.</h2>

      <p>
        We’re very sorry to see it go. Unfortunately, we haven’t been able to give
        the site and the users the time that they deserve. They software and site
        design has languished, basically neglected for a few years now. Additionally,
        neither of us has the time to properly ensure that Date Edge isn’t a vector
        for spam, abuse or harassment. Two things:
      </p>

      <br>

      <ol>
        <li>
          If you want an archival copy of your profile and your direct messages,
          email <b><%= mail_to "us@dateedge.com" %></b> and we’ll email it to you after we
          close the site down.
        </li>

        <li>
          If you have a success story, we’d still love to hear them. The site has been
          up and running for about five years. We’ve heard of a few love stories.
          If you’ve found love or friendship through the site, <b><%= mail_to "tell us all about it!" %></b>
        </li>
      </ol>

      <p>— 💔 Shane &amp; Bookis</p>
    </div>

    <%= render partial: "/shared/browse_happy" %>

    <% unless logged_in? || controller_name == "welcome" %>
      <%= render partial: "/shared/social_posting_info" %>
    <% end %>

    <% if show_update_profile? %>
      <p class="alert alert-success">
        Completed profiles have the best success.
        <b><%= link_to "Go update yours now! &rarr;".html_safe, settings_path, class: "alert-link" %></b>
      </p>
    <% end %>
    <%= render partial: "/shared/flashes" %>

    <%= yield %>
  </section>

  <footer role="contentinfo" class="container">
    <ul class="nav nav-pills pull-left row">
      <li class="col-xs-12"><%= link_to "About Date Edge", about_path %></li>
      <li class="col-xs-12"><%= link_to "Stats",           stats_path %></li>
      <li class="col-xs-12"><%= link_to "Blog",            "http://blog.dateedge.com", rel: "external" %></li>
      <li class="col-xs-12"><%= link_to "Terms",           terms_path %></li>
      <li class="col-xs-12"><%= link_to "Privacy Policy",  privacy_path %></li>
    </ul>

    <ul class="nav nav-pills pull-right">
      <% if logged_in? %>
        <li class="col-xs-12"><%= link_to_unless_current "Sign Out", signout_path %></li>
      <% end %>
    </ul>
  </footer>

  <%= render partial: "/shared/foot" %>

</body>
</html>
