<!doctype html>
<!--[if lt IE 7 ]>             <html dir="ltr" lang="en" id="<%= @slug %>" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>                <html dir="ltr" lang="en" id="<%= @slug %>" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>                <html dir="ltr" lang="en" id="<%= @slug %>" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>                <html dir="ltr" lang="en" id="<%= @slug %>" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html dir="ltr" lang="en" id="<%= @slug %>" class="no-js"    > <!--<![endif]-->
<%= render :partial => '/shared/head' %>

<body>
  <header role="banner">
    <h1><%= link_to_unless_current "Date Edge", root_path, :rel => "home" %></h1>

    <% if welcome? %>
      <h2>Because straight edge kids need a date too&hellip;</h2>
    <% else %>

    <% end %>
  </header>

  <% unless welcome? %>
    <nav role="navigation">
      <%= link_to "Everyone", people_path %>

      <% if current_user %>
        <%= link_to_unless_current "Sign Out", signout_path %>
        <%= link_to_unless_current current_user.name, person_path(current_user.username) if current_user.username %>
        <%= link_to_unless_current "Settings", settings_path %>
        <%= link_to_unless_current "Inbox (#{unread_count})", conversations_path %>
      <% else %>
        <%= link_to "Sign in with Twitter",  "/auth/twitter"  %>
        <%= link_to "Sign in with Facebook", "/auth/facebook" %>
      <% end %>
    </nav>
  <% end %>

  <section role="main">
    <%= yield %>
  </section>

  <footer role="contentinfo">
    <%= yield :footer %>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="javascripts/jquery.js"%3E%3C/script%3E'))</script>
  <%= javascript_include_tag "modernizr" %>

  <%= render :partial => '/shared/google_analytics' %>
</body>
</html>
